<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhi.training.application.mapper.TpPlanConditionPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yizhi.training.application.domain.TpPlanConditionPost">
        <id column="tb_id" property="id"/>
        <result column="tb_training_project_id" property="trainingProjectId"/>
        <result column="tb_tp_plan_id" property="tpPlanId"/>
        <result column="tb_type" property="type"/>
        <result column="tb_num" property="num"/>
        <result column="tb_tp_plan_activity_id" property="tpPlanActivityId"/>
        <result column="tp_plan_activity_relation_id" property="tpPlanActivityRelationId"/>
        <result column="tb_deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tb
        .
        id
        AS tb_id,
      tb.training_project_id AS tb_training_project_id,
      tb.tp_plan_id AS tb_tp_plan_id,
      tb.type AS tb_type,
      tb.num AS tb_num,
      tb.tp_plan_activity_id AS tb_tp_plan_activity_id,
      tb.tp_plan_activity_relation_id AS tp_plan_activity_relation_id,
      tb.deleted AS tb_deleted
    </sql>

    <insert id="batchInsert">
        insert into tp_plan_condition_post
        (id,
        training_project_id,
        tp_plan_id,
        `type`,
        num,
        tp_plan_activity_id,
        tp_plan_activity_relation_id,
        deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.trainingProjectId}, #{item.tpPlanId}, #{item.type}, #{item.num},
            #{item.tpPlanActivityId},
            #{item.tpPlanActivityRelationId}, #{item.deleted})
        </foreach>
    </insert>

    <!-- 根据学习计划id集合删除相应条件 -->
    <update id="deleteByPlanIds">
        update tp_plan_condition_post
        set deleted = 1
        where tp_plan_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>
